# without any quotes, just the value
ADMIN_PASSWORD=Password


#telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=12345  
#get your id from @userinfobot in TG and put here

#postgres
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_USER=name
POSTGRES_PASSWORD=password
POSTGRES_DBNAME=strong_fellas

#server
PORT=8080